body {
  text-align: center;
  background: #777;
}

.tittle {
  color: #fff;
}

.button {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: blue;
  border-radius: 10px;
  padding: 10px 110px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  min-width: 100px;
  border: 1px solid #ccc;
}

.input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 100px;
}

p {
  color: #ccc;
  font-size: 17px;
}
